<div class="mainButtons">
    <label id="authBtn" for="auth" @onclick="ToggleVisibilityWrapper">@IdentityResource.Login</label>
    <label id="regBtn" for="reg" @onclick="ToggleVisibilityWrapper">@IdentityResource.Register</label>
</div>

<SemiTransparentWrapper @bind-isShowWrapper="@_isShowWrapper">
    <div class="identityForm">
        <input type="radio" id="auth" name="tabs" checked>
        <label class="tab" for="auth">@IdentityResource.Authorization</label>
        <input type="radio" id="reg" name="tabs">
        <label class="tab" for="reg">@IdentityResource.Registration</label>
        <input type="radio" id="forgotPassword" name="tabs">
        <input type="radio" id="resetPassword" name="tabs">

        <EditForm method="post" id="authForm" class="tabForm" Model="@_loginModel" OnValidSubmit="LoginToAccount">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <ServerSideValidator @ref="_serverSideAuthorizationValidator" />
            <div class="boxInput">
                <InputText class="input" type="text" placeholder=" " required @bind-Value="_loginModel.Email" />
                <label>@IdentityResource.Email</label>
            </div>
            <div class="boxInput">
                <InputText class="input" type="password" placeholder=" " required @bind-Value="_loginModel.Password" />
                <label>@IdentityResource.Password</label>
            </div>
            <button type="submit">@IdentityResource.Login</button>

            <label class="toggleLabel" for="forgotPassword">@IdentityResource.ForgotPassword</label>
        </EditForm>

        <EditForm id="regForm" class="tabForm" Model="@_registerModel" OnValidSubmit="CreateAccount">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <ServerSideValidator @ref="_serverSideRegistrationValidator" />

            <InputText class="input" type="text" placeholder=@IdentityResource.PlaceholderNickname @bind-Value="_registerModel.Nickname" />
            <InputText class="input" type="email" placeholder=@IdentityResource.PlaceholderEmail @bind-Value="_registerModel.Email" />
            <InputText class="input" type="password" placeholder=@IdentityResource.PlaceholderPassword @bind-Value="_registerModel.Password" />
            <InputText class="input" type="password" placeholder=@IdentityResource.PlaceholderRepeatPassword @bind-Value="_registerModel.PasswordConfirm" />
            <button type="submit">@IdentityResource.Register</button>

           @*  <div class="boxConditions" style="display: none;">
                <AnimatedCheckbox @bind-InputValue="_registerModel.AcceptedRegistrationConditions" Number="-1">
                    @((MarkupString)@IdentityResource.RegistrationConditionsCheckBox)
                </AnimatedCheckbox>
            </div> *@
        </EditForm>

        <EditForm id="forgotPasswordForm" class="tabForm" Model="@_forgotPasswordModel" OnValidSubmit="ForgotPassword">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <ServerSideValidator @ref="_serverSideForgotPasswordValidator" />

            <InputText class="input" type="email" placeholder=@IdentityResource.PlaceholderEmail @bind-Value="_forgotPasswordModel.Email" />
            <button type="submit">@IdentityResource.GetPasswordAndCode</button>
            <label class="toggleLabel" for="resetPassword">@IdentityResource.PasswordChangeWindow</label>
        </EditForm>

        <EditForm id="resetPasswordForm" class="tabForm" Model="@_resetPasswordModel" OnValidSubmit="ResetPassword">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <ServerSideValidator @ref="_serverSideResetPasswordValidator" />

            <InputText class="input" type="email" placeholder=@IdentityResource.PlaceholderEmail @bind-Value="_resetPasswordModel.Email" />
            <InputText class="input" type="password" placeholder=@IdentityResource.PlaceholderPassword @bind-Value="_resetPasswordModel.Password" />
            <InputText class="input" type="password" placeholder=@IdentityResource.PlaceholderRepeatPassword @bind-Value="_resetPasswordModel.PasswordConfirm" />
            <InputText class="input" type="text" placeholder="@IdentityResource.PlaceholderCode" @bind-Value="_resetPasswordModel.Code" />
            <button type="submit">@IdentityResource.ChangePassword</button>
        </EditForm>

    </div>
</SemiTransparentWrapper>