<div class="mainButtons">
    <label id="authBtn" for="auth" @onclick="ToggleVisibilityWrapper">Войти</label>
    <label id="regBtn" for="reg" @onclick="ToggleVisibilityWrapper">Создать аккаунт</label>
</div>

<SemiTransparentWrapper @bind-isShowWrapper="@_isShowWrapper">
    <div class="auth-reg-form">
        <input type="radio" id="auth" name="tabs" checked>
        <label class="tab" for="auth">Авторизация</label>
        <input type="radio" id="reg" name="tabs">
        <label class="tab" for="reg">Регистрация</label>
        <input type="radio" id="forgotPassword" name="tabs">
        <input type="radio" id="resetPassword" name="tabs">

        <EditForm method="post" id="auth-form" class="tab-form" Model="@_loginModel" OnValidSubmit="LoginToAccount">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <ServerSideValidator @ref="_serverSideAuthorizationValidator" />

            <div class="box-input">
                <InputText class="input" type="text" placeholder=" " required @bind-Value="_loginModel.Email" />
                <label>E-mail</label>
            </div>
            <div class="box-input">
                <InputText class="input" type="password" placeholder=" " required @bind-Value="_loginModel.Password" />
                <label>Пароль</label>
            </div>
            <button type="submit">Войти</button>

            <ul class="social">
                <li><a><div><i class="fa fa-facebook"></i></div></a></li>
                <li><a><div><i class="fa fa-twitter"></i></div></a></li>
                <li><a><div><i class="fa fa-instagram"></i></div></a></li>
                <li><a><div><i class="fa fa-vk"></i></div></a></li>
                <li @ondblclick="SecretLoginToAccount"><a><div><i class="fa fa-youtube"></i></div></a></li>
            </ul>

            <label class="toggleLabel" for="forgotPassword">Я забыл свой пароль</label>
        </EditForm>

        <EditForm id="reg-form" class="tab-form" Model="@_registerModel" OnValidSubmit="CreateAccount">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <ServerSideValidator @ref="_serverSideRegistrationValidator" />

            <InputText class="input" type="email" placeholder="Введите E-mail" @bind-Value="_registerModel.Email" />
            <InputText class="input" type="password" placeholder="Введите пароль" @bind-Value="_registerModel.Password" />
            <InputText class="input" type="password" placeholder="Повторите пароль" @bind-Value="_registerModel.PasswordConfirm" />
            <button type="submit">Регистрация</button>

            <div class="box-conditions">
                <AnimatedCheckbox @bind-InputValue="_registerModel.AcceptedRegistrationConditions" Number="-1">
                    "Ознакомлен(-а) и принимаю <a>условия регистрации</a>"
                </AnimatedCheckbox>
            </div>
        </EditForm>

        <EditForm id="forgotPassword-form" class="tab-form" Model="@_forgotPasswordModel" OnValidSubmit="ForgotPassword">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <ServerSideValidator @ref="_serverSideForgotPasswordValidator" />

            <InputText class="input" type="email" placeholder="Введите E-mail" @bind-Value="_forgotPasswordModel.Email" />
            <button type="submit">Получить код</button>
            <label class="toggleLabel" for="resetPassword">Сбросить пароль</label>
        </EditForm>

        <EditForm id="resetPassword-form" class="tab-form" Model="@_resetPasswordModel" OnValidSubmit="ResetPassword">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <ServerSideValidator @ref="_serverSideResetPasswordValidator" />

            <InputText class="input" type="email" placeholder="Введите E-mail" @bind-Value="_resetPasswordModel.Email" />
            <InputText class="input" type="password" placeholder="Введите пароль" @bind-Value="_resetPasswordModel.Password" />
            <InputText class="input" type="password" placeholder="Повторите пароль" @bind-Value="_resetPasswordModel.PasswordConfirm" />
            <InputText class="input" type="text" placeholder="Введите код" @bind-Value="_resetPasswordModel.Code" />
            <button type="submit">Сбросить пароль</button>
        </EditForm>

    </div>
</SemiTransparentWrapper>